apiVersion: apps/v1
kind: Deployment
metadata:
  name: purl-resolver
  labels:
    app: purl-resolver
spec:
  replicas: 1
  selector:
    matchLabels:
      app: purl-resolver
  template:
    metadata:
      labels:
        app: purl-resolver
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65532
      containers:
      - name: purl-resolver
        image: ko://github.com/package-dist/purl-resolver
        args: ["serve"]
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /healthz
            port: http
          initialDelaySeconds: 3
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /healthz
            port: http
          initialDelaySeconds: 1
          periodSeconds: 5
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
            - ALL
        resources:
          requests:
            cpu: 100m
            memory: 64Mi
          limits:
            cpu: 200m
            memory: 128Mi
