apiVersion: v1
kind: Service
metadata:
  name: purl-resolver
  labels:
    app: purl-resolver
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: purl-resolver
